@using Travel_G08.Areas.Admin.Controllers
@{
    Layout = "~/Areas/Admin/Views/Shared/admin_layout.cshtml";
}
@if (Session["IsLogin"] == null)
{
    Response.Redirect("Login");
}
@section scripts
{
    <!--Date Picker-->
    <link href="@Url.Content("~/Content/Frontend/css/jquery.datepick.css")" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="@Url.Content("~/Content/Frontend/js/jquery.datepick.js")"></script>
    <script src="@Url.Content("~/Content/Frontend/js/jquery.mousewheel.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#popupDatepicker1').datepick();
            $('#popupDatepicker2').datepick();
            $('#popupDatepicker3').datepick();
            $('#popupDatepicker4').datepick();
            $('#popupDatepicker5').datepick();
            $('#popupDatepicker6').datepick();
        });
        $(document).ready(function () {
            keepProductHeadingState();
        });
    </script>

}
<div id="right" style="width:1130px;height:560px;overflow:auto;">
    <div id="content">
        <div class="container">       
            <div class="conthead">
                <h2>New tour:</h2>
                <select id="option_newtour" onchange="showHideDiv()">
                    <option value="0">By template</option>
                    <option value="1">Manual</option>
                </select>
             </div>
             <div class="contentbox" id="mainDiv">
             <ul class="breadcrumb">
                <li>@Html.ActionLink("Home page", "Index", "Admin")</li> /
                <li>@Html.ActionLink("List tour", "DanhSach", "Tour")</li> / 
                <li>@Html.ActionLink("New tour", "Them", "Tour")</li>
            </ul>
             @if(ViewBag.Error != null)
                     {
                        <div class="status error">
                            <p class="closestatus"><a href="" title="Close">x</a></p>
                            <p><img src="../../Content/img/icon_error.png" alt="Error">
	                        <span>Error! @ViewBag.Error</span></p>
                        </div>
                     }
                     @if (ViewBag.Message != null)
                     {
                        <div class="status success">
                            <p class="closestatus"><a href="" title="Close">x</a></p>
                            <p><img src="../../Content/img/icon_approve.png" alt="Error">
	                        <span>@ViewBag.Message!</span></p>
                        </div>
                     }
             <div id="manual" style="display:none">
                <form action="ThemManual" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="control-group">
                        <label class="control-label">Type</label>
                        <div class="controls">
                            <select name="type">
                                <option value="City tour - One day tour">City tour - One day tour</option>
                                <option value="Tour quốc tế">Tour quốc tế</option>
                                <option value="Tour trong nước" selected>Tour trong nước</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Name</label>
                        <div class="controls">
                            <input type="text" name="name"/>
                        </div>
                    </div>
                   <div class="control-group">
                        <label class="control-label" for="image">Duration</label>
                        <div class="controls">
                            <input type="text" name="duration"/>
                        </div>
                    </div>
                   <div class="control-group">
                        <label class="control-label">Start destination</label>
                        <div class="controls">
                            <select name="start_destination">
                                @foreach (var a in @ViewBag.ListDestinationByCountry)
                                {
                                    <optgroup label="@a.TenQuocGia">
                                    @foreach (var b in @a.TenDiaDiems)
                                    {
                                        <option value="@b.maDiaDiem">@b.tenDiaDiem</option>
                                    }
                                    </optgroup>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Description</label>
                        <div class="controls">
                            <textarea name="description" rows="18"></textarea>
                        </div>
                    </div>
                    @*Start thêm bớt địa điểm*@
                    @*Textbox chứa danh sách các địa điểm dc chọn*@
                    <input type="hidden" value="" name="inputListDestination" id="inputListDestination"/>
                    <div class="control-group">
                        <label class="control-label" for="image">List destination</label>
                        <div class="controls">
                            <div id="listDestination" name="listDestination">
                            </div>
                            <select name="list_destination" id="list_destination">
                                @foreach (var a in @ViewBag.ListDestinationByCountry)
                                {
                                    <optgroup label="@a.TenQuocGia">
                                    @foreach (var b in @a.TenDiaDiems)
                                    {
                                        <option value="@b.maDiaDiem">@b.tenDiaDiem</option>
                                    }
                                    </optgroup>  
                                }
                            </select>
                            <button type="button" class="btn btn-primary" onclick="createDivDestination()">Add</button>
                        </div>
                    </div>
                    @*End thêm bớt địa điểm*@

                    @*Start thêm bớt dịch vụ*@
                    @*Textbox chứa danh sách các địa điểm dc chọn*@
                    <input type="hidden" value="" name="inputListService" id="inputListService"/>
                    <div class="control-group">
                        <label class="control-label" for="image">List service</label>
                        <div class="controls">
                            <div id="listService" name="listService">
                            </div>
                            
                            <select name="list_service" id="list_service">
                                @foreach (var a in @ViewBag.ListServiceByCountry)
                                {
                                    <optgroup label="@a.TenQuocGia">
                                    @foreach (var b in @a.TenDichVus)
                                    {
                                        <option value="@b.maDichVu">@b.tenDichVu</option>
                                    }
                                    </optgroup>
                                }
                            </select>
                            <button type="button" class="btn btn-primary" onclick="createDivService()">Add</button>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Start date</label>
                        <div class="controls">
                            <input type="text" name="start_date" id="popupDatepicker1" placeholder="MM/DD/YYYY" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Price</label>
                        <div class="controls">
                            <input type="text" name="price"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Slug</label>
                        <div class="controls">
                            <input type="text" name="slug"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Status</label>
                        <div class="controls">
                            <select name="status">
                                <option value="Đã hủy">Đã hủy</option>
                                <option value="Đã kết thúc">Đã kết thúc</option>
                                <option value="Đang thực hiện">Đang thực hiện</option>
                                <option value="Đóng" selected>Đóng</option>
                                <option value="Mở">Mở</option>
                            </select>
                        </div>
                    </div>
                    @*End thêm bớt dịch vụ*@
                    <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Add</button>
                        @Html.ActionLink("Exit", "DanhSach", "TourMau", new { @class = "btn btn-inverse" })
                    </div>
                </form>
             </div>
             <div id="by_template">
                <form action="ThemTemplate" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="control-group">
                        <label class="control-label" for="image">List template</label>
                        <div class="controls">
                            <select name="list_template" id="list_template">
                                @foreach (var a in @ViewBag.ListTemplateByType)
                                {
                                    <optgroup label="@a.TenLoaiTour">
                                    @foreach (var b in @a.TenTourMaus)
                                    {
                                        <option value="@b.maTour">@b.tenTour</option>
                                    }
                                    </optgroup>
                                }
                            </select>                            
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="image">Template info</label>
                        <div class="controls">
                            <div id="resultDiv" style="display:none"></div> 
                        </div>
                    </div>
                    <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Add</button>
                        @Html.ActionLink("Exit", "DanhSach", "TourMau", new { @class = "btn btn-inverse" })
                    </div>
                </form>
             </div>
             </div>
        </div>
    </div>
</div>
