@model IEnumerable<Travel_G08.LoaiNCCDichVu>
@{
    Layout = "~/Areas/Admin/Views/Shared/admin_layout.cshtml";
}
@if (Session["IsLogin"] == null)
{
    Response.Redirect("Login");
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            keepSystemHeadingState();
        });
    </script>
}
<div id="right" style="width:1130px;height:560px;overflow:auto;">
    <div id="content">
        <div class="container">       
            <div class="conthead">
                <h2>New country:</h2>
             </div>
             <div class="contentbox">
             <ul class="breadcrumb">
                <li>@Html.ActionLink("Home page", "Index", "Admin")</li> /
                <li>@Html.ActionLink("List supplier", "DanhSach", "NhaCungCap")</li> / 
                <li>@Html.ActionLink("Edit supplier", "Sua", "NhaCungCap", new { ID = @ViewBag.NCC.maNCC})</li>
            </ul>
                <form action="Sua" method="post" class="form-horizontal" enctype="multipart/form-data">
                @if(ViewBag.Error != null)
                     {
                        <div class="status error">
                            <p class="closestatus"><a href="" title="Close">x</a></p>
                            <p><img src="../../Content/img/icon_error.png" alt="Error">
	                        <span>Error! @ViewBag.Error</span></p>
                        </div>
                     }
                     @if (ViewBag.Message != null)
                     {
                        <div class="status success">
                            <p class="closestatus"><a href="" title="Close">x</a></p>
                            <p><img src="../../Content/img/icon_approve.png" alt="Error">
	                        <span>@ViewBag.Message!</span></p>
                        </div>
                     }
                     <div class="control-group">
                        <label class="control-label">Type</label>
                        <div class="controls">
                            <select name="type">
                                @foreach (var s in Model)
                                {
                                    <option value="@s.maLoaiNCC" @if (@s.maLoaiNCC == @ViewBag.NCC.maLoaiNCC) { ViewContext.Writer.Write("selected"); }>@s.tenLoaiNCC</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Supplier</label>
                        <div class="controls">
                            <input type="text" name="name" value="@ViewBag.NCC.tenNCC"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Webservice</label>
                        <div class="controls">
                            <input type="text" name="webservice" value="@ViewBag.NCC.diaChiWS"/>
                        </div>
                    </div>
                   <div class="control-group">
                        <label class="control-label">Username</label>
                        <div class="controls">
                            <input type="text" name="username" value="@ViewBag.NCC.username"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password</label>
                        <div class="controls">
                            <input type="text" name="password" value="@ViewBag.NCC.password"/>
                        </div>
                    </div>
                    <input type="hidden" value="@ViewBag.NCC.maNCC" name="ID"/>
                    <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Apply</button>
                        @Html.ActionLink("Exit", "DanhSach", "NhaCungCap", new { @class = "btn btn-inverse" })
                    </div>
                </form>
             </div>
        </div>
    </div>
</div>
